<!--the body style-->
body {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

<!--the main container styles-->
.container{
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

<!--The image style-->
  .container img{
    display: block;
    margin: 20px auto;
    padding: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
    
<!--heading style-->
.container h1{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 08px;
}


.container h3{
  font-weight: 400;
  font-size: 12px;
  color: hsl(75, 94%, 57%);
  margin-bottom: 15px;
}


<!--paragraph styling-->
.container p{
  font-weight: 400;
  font-size: 12px;
  color: hsl(75, 94%. 57%);
  margin-bottom: 15px;
}

<1--list styling-->
.container ul{
  list-style: none;
}
.container ul li{
  background: hsl(0, 0%, 20%);
  margin-bottom: 13px;
  padding: 9px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  color; white
}

.container ul li: hover{
  color: green;
  transform: scale(1.1);
  transition: all ease-in-out .3s;
}
.container ul li: active{
  color: red;
}

<!--the footer styling-->
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
  color: whitesmoke;
}

div {
  display: block;
  unicode-bidi: isolate;
  color: whitesmoke;

}
